<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Ajouter une vidéo</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
        <link rel="stylesheet" href="/assets/vendor/tagmanager/tagmanager.css">
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Ajouter des vidéos</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Ajouter des vidéos</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Formulaire d'ajout</h5>
                                <div class="card-body">
                                    <form id="addVideoForm" enctype="multipart/form-data">
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Vos vidéo(s)</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <div class="mb-3">
                                                    <input type="file" name="videos"id="uploadVideo" required>
                                                </div>
                                            <div>Pour information la vidéo gardera le nom du fichier uploadé.</div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-sm-right">Nom du domaine</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text" placeholder="Identifiez votre ensemble de vidéos" name="namespace" id="namespaceVideo" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-sm-right">Description</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <textarea type="text" placeholder="Donnez une description à vos vidéos" name="description" id="descriptionVideo" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-sm-right">Tags</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text" id="tagsVideo" name="tags" placeholder="Insérer une caractéristique" class="form-control tm-input"/>
                                            </div>
                                        </div>
                                        <div class="form-group row text-right">
                                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                                <button type="submit" name="submit" data-toggle="modal" class="btn btn-space btn-primary">Valider</button>
                                                <button class="btn btn-space btn-secondary" onclick="location.reload(true)">Vider les champs</button>
                                            </div>
                                        </div>
                                    </form>

                                    <!-- ============================================================== -->
                                    <!-- Success modal -->
                                    <!-- ============================================================== -->
                                    <!-- Button trigger modal -->

                                    <!-- Success Modal -->
                                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Vidéo(s) ajoutée(s)</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <p>Vos vidéos ont été correctement téléchargées, vous pouvez désormais en ajouter d'autres.</p>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                            <a href="/list_video"><button type="button" class="btn btn-secondary">Voir la liste des vidéos</button></a>
                                            <a href="/search_video"><button type="button" class="btn btn-secondary">Rechercher des vidéos</button></a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <!-- Wait Modal -->
                                    <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">En cours de téléchargement</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <p>Vos vidéos sont en cours de téléchargement veuillez patienter quelques instants.</p>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <% include inc/footer.ejs %>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->

        <% include inc/importantjs.ejs %>
        <script src="/assets/vendor/tagmanager/tagmanager.js"></script>
        <script src="/js/add_video.js"></script>
        <script>
            jQuery(".tm-input").tagsManager();
        </script>
    </body>
</html>
