<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Zones de la vidéo</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
    </head>
    <body onload="draw();">
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Zones de la vidéo</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item"><a href="/list_video" class="breadcrumb-link">Liste des vidéos</a></li>
                                            <li class="breadcrumb-item" aria-current="page">Analyse vidéo</li>
                                            <li class="breadcrumb-item active" aria-current="page">Zones de la vidéo</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Encadrage des zones</h5>
                                <div style="margin: 20px; margin-bottom: 0px;" class="alert alert-warning" role="alert">
                                    <h4 class="alert-heading">Raccourcies</h4>
                                    <ul>
                                        <li><strong>Shift + Scroll</strong> pour la navigation horizontale.</li>
                                        <li><strong>Scroll</strong> de la sourie pour la navigation verticale.</li>
                                        <li>Pression sur le <strong>Bouton droit</strong> de la sourie pour selectionner une zone et la nommer.</li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div id="superpoze">
                                        <div id="videoSrc" class="embed-responsive embed-responsive-16by9">
                                            <video class="img-fluid" id="video" buffered controls="false">
                                                <source src="/videos/<%= body.video.namespace %>/<%= body.video.name %>" />
                                            </video>
                                        </div>
                                        <div style="max-width:100%; overflow: auto;">
                                            <canvas id="boxAnnotation">
                                            </canvas>
                                        </div>
                                        <div id="<%= body.video._id %>">
                                            <div id="videoAreaInfo"></div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-header">Liste des zones</h5>
                                            <ul class="list-group" id="listAnnotation">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Add Area Modal -->
                            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Ajouter une zone</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label class="col-3 col-sm-3 col-form-label text-sm-right">Nom de la zone</label>
                                                <div class="col-9 col-sm-9 col-lg-6 input-group">
                                                    <input type="text" id="markName" class="form-control" placeholder="Nom correspondant à cet endroit" id="namespaceInput" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="addModalValidateBtn" class="btn btn-primary" data-dismiss="modal">Valider</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <% include inc/footer.ejs %>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
    </body>
    <script src="/js/annotation.js"></script>
    <style>
        #boxAnnotation { cursor: crosshair; }
        video { pointer-events: none; }
        #videoSrc { display: none; }
    </style>
</html>
